# Function
### print name xxxx lastname xxxx ID xxxx
### print Grade of subject Stat1 >> xxxx

In [1]:
a = 'ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0'
print(a)

ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0

In [3]:
name = 'ภูวนัตถ์'
surname = 'จันทะกล'
ID = '603021111-0'
b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0

   ### def function_name(x):
           do_something
           return y

## normal function

In [12]:
def print_line1(name1,surname1,ID1):
    st = f' ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'    
    return st

In [13]:
print(print_line1('ภูวนัตถ์','จันทะกล','603021111-0'))

 ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0

In [14]:
def print_2line(name1,surname1,ID1,grade):
    st = f' ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'    
    print(st)
    st2 = f' เกรดวิชา Stat1 >>> {grade}'
    print(st2)

In [19]:
print_2line('ภูวนัตถ์','จันทะกล','603021111-0','A')
print_2line('กัญญ์รินท์','อินทจันทร์','603021854-4','A')
print_2line('ศุภนิตา','ดาดวน','603021129-1','A')
print_2line('ทรงกลด','อาจปา','603021864-1','A')

 ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0
 เกรดวิชา Stat1 >>> A
 ชื่อ กัญญ์รินท์ นามสกุล อินทจันทร์ รหัส 603021854-4
 เกรดวิชา Stat1 >>> A
 ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1
 เกรดวิชา Stat1 >>> A
 ชื่อ ทรงกลด นามสกุล อาจปา รหัส 603021864-1
 เกรดวิชา Stat1 >>> A

In [20]:
def print_2line(name1,surname1,ID1,grade):
    st = f' ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'    
    print(st)
    st2 = f' เกรดวิชา Stat1 >>> {grade}'
     print(st2) ###Errorเกิดจากการเว้นวรรคผิด

IndentationError: unexpected indent (<ipython-input-20-600948f47a40>, line 5)

In [21]:
def print_2line(name1,surname1,ID1,grade):
    st = f' ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'    
    return st ### เกรดไม่ออก เพราะสั่งรีเทิร์นไปแล้ว หลังรีเทิร์นจะไม่รัน
    st2 = f' เกรดวิชา Stat1 >>> {grade}'
    print(st2)

In [23]:
print_2line('ภูวนัตถ์','จันทะกล','603021111-0','A')

' ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0'

## function without input ไม่มีอินพุด

In [24]:
def two_x_three():
    x = 2*3
    return x

In [25]:
two_x_three()

6

## function with default argument อินพุดเป็นดีฟาว

In [27]:
def print_2line(name1,surname1,ID1,grade='F'):
    st = f' ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'    
    print(st)
    st2 = f' เกรดวิชา Stat1 >>> {grade}'
    print(st2)

In [29]:
print_2line('ภูวนัตถ์','จันทะกล','603021111-0') ##ไม่ใส่เกรด ก็จะแสดงเกรดF

 ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0
 เกรดวิชา Stat1 >>> F

In [31]:
print_2line('ภูวนัตถ์','จันทะกล','603021111-0','A+++') ##ถ้าใส่เกรดก็จะรันตามปกติ

 ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0
 เกรดวิชา Stat1 >>> A+++

In [33]:
print_2line(surname1 = 'ภูวนัตถ์',name1 = 'จันทะกล',ID1 = '603021111-0',grade='A')

 ชื่อ จันทะกล นามสกุล ภูวนัตถ์ รหัส 603021111-0
 เกรดวิชา Stat1 >>> A

# Loop (วนซ้ำ)

```Python
for each_member in listA:
     do something
```

In [36]:
for i in [1,2,3]:
    print(i)

1
2
3

In [41]:
for i in 'Phuwanat':
    print(f'{i} -> /') ##ปริ้นทีละตัว
    print(' ') ##ปริ้นบรรทัดว่าง

P -> /

h -> /

u -> /

w -> /

a -> /

n -> /

a -> /

t -> /

### 1. สร้าง list ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
### 2. วนลูบปริ้นคำประโยค ชื่อตัวเองxxxx รักyyyy ชื่อเพื่อนzzzz ทุกคนในแถวยาว

In [70]:
list_Dodo = ['เกตุ','นัท','ฟาง','นกยูง','ไอซ์','บอส','แบงค์']

In [71]:
for i in list_Dodo:
    print('โดโด้'  'รัก'  f'{i}')

โดโด้รักเกตุ
โดโด้รักนัท
โดโด้รักฟาง
โดโด้รักนกยูง
โดโด้รักไอซ์
โดโด้รักบอส
โดโด้รักแบงค์

## Function in Loop

In [75]:
list_Dodo = ['เกตุ','นัท','ฟาง','นกยูง','ไอซ์','บอส','แบงค์']

In [118]:
def print_3(name,feel,fname):
        st = f' {name} {feel} {fname}'
        print(st)

In [119]:
print_3line('โดโด้','รัก','เกตุ')
print_3line('โดโด้','รัก','นัท')
print_3line('โดโด้','รัก','ฟาง')
print_3line('โดโด้','รัก','นกยูง')
print_3line('โดโด้','รัก','ไอซ์')
print_3line('โดโด้','รัก','บอส')
print_3line('โดโด้','รัก','แบงค์')

 โดโด้ รัก เกตุ
 โดโด้ รัก นัท
 โดโด้ รัก ฟาง
 โดโด้ รัก นกยูง
 โดโด้ รัก ไอซ์
 โดโด้ รัก บอส
 โดโด้ รัก แบงค์

In [120]:
for i in list_Dodo:
    print_3('โดโด้','รัก',i)

 โดโด้ รัก เกตุ
 โดโด้ รัก นัท
 โดโด้ รัก ฟาง
 โดโด้ รัก นกยูง
 โดโด้ รัก ไอซ์
 โดโด้ รัก บอส
 โดโด้ รัก แบงค์

## loop in loop

In [109]:
for name1 in list_Dodo:
    for name2 in list_Dodo:
        print_3(name1,'รัก',name2)

 เกตุ รัก เกตุ
 เกตุ รัก นัท
 เกตุ รัก ฟาง
 เกตุ รัก นกยูง
 เกตุ รัก ไอซ์
 เกตุ รัก บอส
 เกตุ รัก แบงค์
 นัท รัก เกตุ
 นัท รัก นัท
 นัท รัก ฟาง
 นัท รัก นกยูง
 นัท รัก ไอซ์
 นัท รัก บอส
 นัท รัก แบงค์
 ฟาง รัก เกตุ
 ฟาง รัก นัท
 ฟาง รัก ฟาง
 ฟาง รัก นกยูง
 ฟาง รัก ไอซ์
 ฟาง รัก บอส
 ฟาง รัก แบงค์
 นกยูง รัก เกตุ
 นกยูง รัก นัท
 นกยูง รัก ฟาง
 นกยูง รัก นกยูง
 นกยูง รัก ไอซ์
 นกยูง รัก บอส
 นกยูง รัก แบงค์
 ไอซ์ รัก เกตุ
 ไอซ์ รัก นัท
 ไอซ์ รัก ฟาง
 ไอซ์ รัก นกยูง
 ไอซ์ รัก ไอซ์
 ไอซ์ รัก บอส
 ไอซ์ รัก แบงค์
 บอส รัก เกตุ
 บอส รัก นัท
 บอส รัก ฟาง
 บอส รัก นกยูง
 บอส รัก ไอซ์
 บอส รัก บอส
 บอส รัก แบงค์
 แบงค์ รัก เกตุ
 แบงค์ รัก นัท
 แบงค์ รัก ฟาง
 แบงค์ รัก นกยูง
 แบงค์ รัก ไอซ์
 แบงค์ รัก บอส
 แบงค์ รัก แบงค์

## Loop in Function

In [110]:
def print_3lines(name,feel,fname):
    for fname in fname:
        print(f' {name} {feel} {fname}')

In [111]:
print_3lines('โดโด้','รัก',list_Dodo)

 โดโด้ รัก เกตุ
 โดโด้ รัก นัท
 โดโด้ รัก ฟาง
 โดโด้ รัก นกยูง
 โดโด้ รัก ไอซ์
 โดโด้ รัก บอส
 โดโด้ รัก แบงค์

## Loop in dict

In [112]:
name_grade = {'พันทิพา':'B','ศุภนิตา':'C','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [113]:
name_grade['ปนัดดา']

'A'

In [114]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

In [115]:
name_grade.keys() ##ดูอินเด็ก

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

## conditional เงื่อนไข

## ==, != , >= , <=, < , > เครื่องหมายที่ใช้กับ Condition

```Python
if condition:
    do something
elif condition2:
    do another thing
else:
    do
```

In [122]:
for name1 in list_Dodo:
    for name2 in list_Dodo:
        if name1 != name2:
            print_3(name1,'รัก',name2)

 เกตุ รัก นัท
 เกตุ รัก ฟาง
 เกตุ รัก นกยูง
 เกตุ รัก ไอซ์
 เกตุ รัก บอส
 เกตุ รัก แบงค์
 นัท รัก เกตุ
 นัท รัก ฟาง
 นัท รัก นกยูง
 นัท รัก ไอซ์
 นัท รัก บอส
 นัท รัก แบงค์
 ฟาง รัก เกตุ
 ฟาง รัก นัท
 ฟาง รัก นกยูง
 ฟาง รัก ไอซ์
 ฟาง รัก บอส
 ฟาง รัก แบงค์
 นกยูง รัก เกตุ
 นกยูง รัก นัท
 นกยูง รัก ฟาง
 นกยูง รัก ไอซ์
 นกยูง รัก บอส
 นกยูง รัก แบงค์
 ไอซ์ รัก เกตุ
 ไอซ์ รัก นัท
 ไอซ์ รัก ฟาง
 ไอซ์ รัก นกยูง
 ไอซ์ รัก บอส
 ไอซ์ รัก แบงค์
 บอส รัก เกตุ
 บอส รัก นัท
 บอส รัก ฟาง
 บอส รัก นกยูง
 บอส รัก ไอซ์
 บอส รัก แบงค์
 แบงค์ รัก เกตุ
 แบงค์ รัก นัท
 แบงค์ รัก ฟาง
 แบงค์ รัก นกยูง
 แบงค์ รัก ไอซ์
 แบงค์ รัก บอส

In [123]:
if True:
    print('yes')

yes

In [124]:
if False:
    print('No')

In [125]:
if False:
    print('Yes')
else:
    print('No')

No

In [126]:
if 1 == 1:
    print('1=1')

1=1

# HW 
### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)
### input [1,50,65,90,101,-5,49]

In [5]:
def grade(s):
    if s < 50:
        print(f'{s} ได้เกรด F')
    elif 50 >= s < 55:
        print(f'{s} ได้เกรด D')
    elif 55 >= s < 60:
        print(f'{s} ได้เกรด D+')
    elif 60 >= s < 65:
        print(f'{s} ได้เกรด C')
    elif 65 >= s < 70:
        print(f'{s} ได้เกรด C+')
    elif 70 >= s < 75:
        print(f'{s} ได้เกรด B')
    elif 75 >= s < 80:
        print(f'{s} ได้เกรด B+')
    else:
        print(f'{s} ได้เกรด A')

In [6]:
grade(1)
grade(50)
grade(65)
grade(90)
grade(101)
grade(-5)
grade(49)

1 ได้เกรด F
50 ได้เกรด D
65 ได้เกรด C+
90 ได้เกรด A
101 ได้เกรด A
-5 ได้เกรด F
49 ได้เกรด F